* {
    padding: 0;
    margin: 0;
}

html {
    width: 1373px;
    height: 4980px;
    background-color: rgb(252, 252, 252);
}

.first_box {
    background-position: right;
    background: url('image\ 1048\ \(2\).png');
    width: 1519px;
    height: 1004px;
}

.second_box {
    justify-content: space-around;
    margin: 120px;
    width: 1300px;
}

.third_box {
    margin-top: 117px;
    margin-left: 695px;
    margin-bottom: 119px;
    width: 169px;
    height: 58px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
}


.qw {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-left: 73px;
    margin-top: 180px;
}

.qw1 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-left: 73px;
    margin-top: 13px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 15px;
}

#inv {
    background: none;
    border: none;
    margin-top: 7.5px;
    margin-left: 3px;
}

#img1 {
    margin-top: 7.5px;
    width: 12.67px;
    height: 12.67px;
}

.first_inbox {
    display: flex;
    flex-direction: row;
    border: 1px rgb(52, 168, 83) solid;
    border-radius: 4px;
    padding: 8px;
    width: 169px;
    margin-right: 170px;
}

.second_inbox {
    display: flex;
    flex-direction: row;
    width: 110px;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 80px;
}

.third_inbox {
    margin-right: 20px;
}

.forth_inbox {
    margin-right: 30px;
    margin-top: 10px;
}

.fifth_inbox {
    display: flex;
    flex-direction: row;
    margin-left: 77px;
    margin-top: 100px;
}

.sixth_inbox {
    display: flex;
    flex-direction: row;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-left: 77px;
    margin-top: 160px;
}

.first_ininbox {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}

.second_ininbox {
    display: flex;
    flex-direction: column;
}

#text1 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgb(25, 29, 35);
    font-family: Manrope;
}

#button1,
#button2 {

    border: none;
    background: none;
}

#button3 {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background: rgb(240, 186, 48);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-right: 50px;

}

.button4 {
    border: none;
    background: none;
    width: 180px;
    height: 36px;
}

#s1 {
    margin-top: 9px;
}

#img3 {
    width: 141px;
}

#first_hr {
    border: 1px Middle rgb(231, 234, 238);
    width: 1451px;
    margin-left: 34px;
}


#q4 {
    margin-top: 20px;
}

#q2 {
    margin-top: 40px;
}

#first_text {
    width: 623px;
    height: 58px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    margin-left: 450px;
}

.first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 151px;
}

#boxy1 {
    width: 365px;
    height: 634px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}

#boxy2 {
    width: 365px;
    height: 634px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}

#boxy3 {
    width: 365px;
    height: 634px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}

#boxy4 {
    width: 365px;
    height: 634px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}

#boxy5 {
    width: 365px;
    height: 634px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}

#boxy6 {
    width: 365px;
    height: 634px;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}

#imgg1 {
    width: 365px;
    height: 376px;
}

#imgg2 {
    width: 365px;
    height: 376px;
}

#imgg3 {
    width: 365px;
    height: 376px;
}

#imgg4 {
    width: 365px;
    height: 376px;
}

#imgg5 {
    width: 365px;
    height: 376px;
}

#imgg6 {
    width: 365px;
    height: 376px;
}

#t1 {
    width: 149px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 49px;
    margin-bottom: 21px;
}

#t11 {
    width: 203px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 55px;
}

#t2 {
    width: 145px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 49px;
    margin-bottom: 21px;
}

#t22 {
    width: 149px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 55px;
}

#t3 {
    width: 112px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 49px;
    margin-bottom: 21px;
}

#t33 {
    width: 130px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 55px;
}

#t4 {
    width: 113px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 49px;
    margin-bottom: 21px;
}

#t44 {
    width: 190px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 55px;
}

#t5 {
    width: 239px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 49px;
    margin-bottom: 21px;
}

#t55 {
    position: absolute;
    width: 154px;
    height: 24px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-left: 55px;
}

#t6 {
    width: 180px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 49px;
    margin-bottom: 21px;
}

#t66 {
    width: 170px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 55px;
}

.buttons {
    margin-top: 28px;
    margin-left: 16px;
    width: 327px;
    height: 40px;
    border-radius: 25px;
    background: rgb(68, 216, 108);
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

#smallone {
    margin-top: 58px;
}

#polu {
    margin-left: 150px;
    margin-bottom: 117px;
    border-radius: 35px;
    background-color: rgb(217, 217, 217);
    width: 1239px;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#d1 {
    margin-left: 93px;
    width: 179px;
    height: 24px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
    background: none;
    border: none;
}

#d2 {
    width: 212px;
    height: 24px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
    background: none;
    border: none;
}

#d3 {
    width: 126px;
    height: 24px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
    background: none;
    border: none;
}

#d4 {
    width: 183px;
    height: 24px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 135px;
    margin-top: 28px;
    background: none;
    border: none;
}

.best_choice{
 
    width: 254px;
    height: 58px;
    margin-left: 660px;
    margin-right: 540px;
    margin-top: 170px;
    margin-bottom: 275px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 36px;
font-weight: 700;
}

.button4ik{
    border-radius: 35px;
background: rgb(217, 217, 217);
width: 600px;
height: 62px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-left: 470px;
margin-top: 28px;
}

.knopo4ka{
    margin-top: 28px;
    margin-left: 28px;
    width: 327px;
    height: 40px;
  

}

.zberu_box{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 57.8px;
letter-spacing: 0%;
text-align: center;
margin-top: 140px;
}
.knopo4ka-2{
    margin-top: 28px;
    margin-left: 28px;
    width: 327px;
    height: 40px;
  

}
.button4ik-2{
    border-radius: 35px;
background: rgb(217, 217, 217);
width: 600px;
height: 62px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-left: 330px;
margin-top: 28px;
}

.tsx-2{
    margin-left: 105px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
}
.tsx-1{
    margin-left: 200px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
}



.second_row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 151px;
}

#box-1 {
    width: 351px;
    height: 410px;
    border-radius: 12px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}
#box-2 {
    width: 351px;
    height: 410px;
    border-radius: 12px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}
#box-3 {
    width: 351px;
    height: 410px;
    border-radius: 12px;
    background: linear-gradient(180.00deg, rgb(217, 217, 217), rgb(242, 242, 242) 15.6%, rgb(233, 233, 233) 26.6%);
}



#imge1 {
    width: 274px;
    height: 244px;
    margin-left:39px;
    margin-top: 16px;
}
#imge2 {
    width: 274px;
    height: 244px;
    margin-left:39px;
    margin-top: 16px;
}
#imge3 {
    width: 274px;
    height: 244px;
    margin-left:39px;
    margin-top: 16px;
}

.buttons-1 {
    margin-top: 5px;
    margin-left: 56px;
    width: 227px;
    height: 40px;
    border-radius: 25px;
    background: rgb(68, 216, 108);
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.buttons-2 {
    margin-top: 55px;
    margin-left: 56px;
    width: 227px;
    height: 40px;
    border-radius: 25px;
    background: rgb(68, 216, 108);
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.buttons-3 {
    margin-top: 27px;
    margin-left: 56px;
    width: 227px;
    height: 40px;
    border-radius: 25px;
    background: rgb(68, 216, 108);
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.buttons-3:hover{
    background-color: rgb(216, 8, 8);
    color: black;
    transform: scale(1.1);
}
.buttons-2:hover{
    background-color: rgb(216, 8, 8);
    color: black;
    transform: scale(1.1);
}
.buttons-1:hover{
    background-color: rgb(216, 8, 8);
    color: black;
    transform: scale(1.1);
}





#x-1 {
    width: 113px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 21px;
}

#x-11 {
    width: 190px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
}

#x-2 {
    width: 239px;
    height: 29px;
    color: rgb(36, 31, 31);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

#x-22 {
    position: absolute;
    width: 154px;
    height: 24px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
}

#x-3 {
    width: 180px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 15px;
   
}

#x-33 {
    width: 170px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    
}
.button4:hover{
    background-color: rgb(216, 8, 8);
    color: black;
    transform: scale(1.1);
}

.buttons:hover{
    background-color: rgb(216, 8, 8);
    color: black;
    transform: scale(1.1);
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 168, 83);
  
}


#imgge-id{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 636px;
    margin-top: 36px;
   
  
}
.line{
    position: absolute;
width: 1139.67px;
height: 0;
left: 116px;

border: 1px solid rgb(80, 246, 124);
margin-top: 2px;
}
.icons{
    margin-left: 666px;
}
 .texT{
    display: flex;
    flex-direction: row;
 }

 .texT1{
    margin-left: 100px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
 }
 .texT2{
    margin-left: 70px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
 }
 .texT3{
    margin-left: 70px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
 }
 .texT4{
    margin-left: 70px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
 }
 .texT5{
    margin-left: 70px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
 }
 .texT6{
    margin-left: 70px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
 }
 .texT7{
    margin-left: 70px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
 }
 .ttt{
    background: linear-gradient(180.00deg, rgb(255, 255, 255));

font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: aliceblue;
 }
 .tsx-3{
 margin-top: 7px;
 }
